.navbar {
  background-color: #fff;
  text-emphasis-color: #000;
}

.navbar a.nav-link {
  color: #000; /* Color de texto negro */
}

body{
    background-color: #4e1b32;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}
.full-bleed{
    box-shadow: 0 0 0 100vmax;
    clip-path: inset(0 -100vmax);
}

.center{
    margin: auto;
    width: 50%;
    border: 5px solid red;
    padding: 20px;
}

.center a {
    color: red;
}

.contenedor{
    width: 100%;
    height: 900px;
}

.contenedor1{
    width: 33,3%;
    height: 80%;
    float: left;
    background-color: #4e1b32;
    color: rgb(247, 236, 236);
    margin: auto;
}
.contenedor2{
    width: 33,3%;
    height: 80%;
    float: left;
    background-color: #4e1b32;
    color: white;
    margin: auto;
}
.contenedor3{
    width: 33,3%;
    height: 80%;
    float: left;
    background-color: #4e1b32;
    color: white;
    margin: auto;
}

.textoparrafo{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

a{
    text-decoration: none;
}

.global {
    display:block;
    margin: auto;
}
.menu{
    width: 20%;
    float: left;
    margin-left: -15px;
}
.menu a{
    text-decoration: none;
    color: white;  
}

.menu a:hover{
    color: grey;
    font-weight: bold;
}

.menu li{
    list-style: none;
    border: 2px solid white;
    padding: 30px;
}

.cajas{
    width: 80%;
    height: 25%;
    float:right;
}
.cajas p{
    padding: 60px;
    margin: 1px;
    font-weight: bold;
    color: black;
}
.more-info {
    text-align: justify;
  }
  
  /*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
  color: #000;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}

.card-body{
  text-emphasis-color: #000;
  color: #000;

}

.card{
	width: 70%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
    
	width: 100%;
	height: 300px;
    
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
  image-orientation: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #121212;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #060606;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #040404;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/
.carouselhome img{
    width: auto;
    max-height: 1240px;
    margin: auto; 
    display: block;
}
.carousel {
    width: auto;
    height: auto;
    margin: 0 auto;
    

}

#CarruselRe4 {
 height: 80%;
 width: 70% ;

};

.container3 {
    margin: auto;
}

p2 {
    text-align: justify;
  }
  .product-description {
    border: 2px solid #000;
    padding: 20px;
  }
  
  .btn-see-more {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .more-info {
    display: none;
  }
  
  .btn-see-more:hover + .more-info {
    display: block;
  }
    
  .oculto {
    display: none;
  }
  
.container2 {
    width: 95%;
    margin: auto;
    padding: 0;
        
    ;
}
.container_home{
    margin-left: 15%;
    margin-right: 5%;;
    padding: 0;
    
}
.DescripcionRe4 {
    text-align: center;
    margin: auto;
}

#img_cont4_l{
    margin: auto;
    width: 100%;
    height: 100%;

}
#img_cont4_r{
    margin: auto;
    width: 100%;
    height: 100%;

}
@media (max-width: 768px) {
    .carousel-wrapper {
      max-width: 100%;
      padding: 0 15px;
    }

    .carousel-inner {
      height: 200px;
    }
  }
.contenedor4{
    display: flex;
    border: 5px transparent;
}
.contenedor5{
    background-color: #2fb4cc;
    width: 100%;
    height: 100%;
    margin: auto;
    
}

.contenedor6{
    align-items: center;
    background-color: #2fb4cc;
    text-align: center;
    padding: 20px 25px;
    border-radius: 10px 10px 10px 10px;
    border-color: #FFDF01;
    

}
.form1{
    display: flex;
    flex-direction: column;
    text-align: center;

}
#form_title{
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}
.icono{
    color: #252525;
    font-size: 20px;
    margin-right: 10px;
    
}
#username{
    display: flex;
    outline: 0;
    width: 75%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    align-items: center;
    
}
#password{
    display: flex;
    outline: 0;
    width: 75%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    align-items: center;
}

#after_log{
    display: flex;
    outline: 0;
    width: 75%;
    border: 0;

    box-sizing: border-box;
    font-size: 14px;
    align-items: center;

}
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .buttonlog {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  #botonlog {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .btnSignUp{
    background-color: #2fb4cc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  #botonlogout{
    background-color: #df0808;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn1 {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #04AA6D;

  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    color: #000;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
.recordarme{
  color: #000;

}
.olvido{
  color: #000;
}
.remember{
  color: #000;
}
.btnloginchico{
  background-color: #04AA6D;
}

.container2{
  height: 50%;
  width: 50%;
}

.contenedor4{
  padding-left: 2%;
}