<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_css%} {% bootstrap_javascript%} {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home'%}"
          ><img src="{% static  'img/logo.png' %}" alt="" width="190px" height="80px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'catalogo'%}">Catálogo</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Tu Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'inicio_sesion'%}">Iniciar Sesion</a></li>
                <li><a class="dropdown-item" href="{%url 'creacion_user'%}">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="{%url 'seguridad'%}">Seguridad de Usuario</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contacto'%}">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'arreglo'%}">Reparaciones y Mantenciones</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container3">
      <div class="row">
        <div class="col-6">
          <br />
          <h2>BICICLETA GT 20 SLAMMER</h2>
          <p>299.990CLP</p>
          <br />
          <button class="btn btn-primary mt-3">Comprar</button>
        </div>
        <br />
        <div class="col-6">
          <center>
            <div id="CarruselRe4" class="carousel carousel-dark slide-1">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#CarruselRe4"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner ">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="{%static 'img/Bici2.png'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img
                    src="{%static 'img/Bici2_2.png'%}"
                    class="d-block w-100 imagenesre4"
                    alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                  <img
                    src="{%static 'img/Bici2_3.png'%}"
                    class="d-block w-100 imagenesre4"
                    alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
              </div>
              <br />
              <br />
            </div>
          </center>
        </div>
      </div>
    </div>

    <div class="DescripcionRe4 col-2 col-md-9 text-center">
      <h2>Descripción</h2>
      <p>
        Ya sea en el barrio o en el skatepark, la Slammer es la perfecta primera bici. La geometría del cuadro es rápida y reactiva permitiendo una maniobrabilidad fácil mientras el joven rider desarrolla su fuerza. Con modernas carácteristicas de freestyle como un plato de 25T, cassette de 9T y ruedas grandes, la Slammer te permite unirte a tus amigos con la mejor relación precio calidad.        </p>
      </p>
      <button class="btn btn-primary mt-3 mx-auto" id="ver-mas" onclick="verMas()">Ver más</button>
      <div class="collapse" id="expand-description">
        <p>
          La bicicleta Slammer es la elección perfecta para aquellos que buscan su primera bicicleta en el mundo del ciclismo. Con una geometría ágil y reactiva, esta bicicleta ofrece una maniobrabilidad fácil y rápida, ideal para que los jóvenes riders desarrollen su fuerza y destreza. Equipada con características modernas de estilo libre, como un plato de 25T, cassette de 9T y ruedas grandes, la Slammer les permite unirse a sus amigos y disfrutar de la mejor relación calidad-precio. Ya sea en el barrio o en el skatepark, la Slammer garantiza diversión y rendimiento en cada salida.        </p>
        <button class="btn btn-primary mt-3 mx-auto" id="ver-menos" onclick="verMenos()">Ver menos</button>
      </div>
    </div>
    
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
      function verMas() {
        document.getElementById("ver-mas").style.display = "none";
        document.getElementById("expand-description").classList.add("show");
        document.getElementById("ver-menos").style.display = "block";
      }
    
      function verMenos() {
        document.getElementById("ver-menos").style.display = "none";
        document.getElementById("ver-mas").style.display = "block";
        document.getElementById("expand-description").classList.remove("show");
      }
    </script>
  </body>
  </body>
</html>
