<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_css%} {% bootstrap_javascript%} {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home'%}"
          ><img src="{% static  'img/img/logo3.jpg' %}" alt="" width="120px" height="80px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'catalogo'%}">Catálogo</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Tu Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'inicio_sesion'%}">Iniciar Sesion</a></li>
                <li><a class="dropdown-item" href="{%url 'creacion_user'%}">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="{%url 'tokens'%}">Tokens</a></li>
                <li><a class="dropdown-item" href="{%url 'seguridad'%}">Seguridad de Usuario</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contacto'%}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card ">
            <a href="{%url 're4'%}"><img src="{% static 'img/img/Re4.jpg'%}" class="img-thumbnail w-75 m-auto " alt="..." ></a>
            <div class="card-body">
              <h5 class="card-title">Resident Evil 4</h5>
              <p class="card-text">$37.000CLP</p>
              <a class="btn btn-primary" href="{%url 're4'%}" role="button">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <a href="{%url 'hk'%}"><img src="{% static 'img/img/hollow.jpg'%}" class="img-thumbnail w-75 m-auto " alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Hollow Knight</h5>
              <p class="card-text">$8.000CLP</p>
              <a class="btn btn-primary" href="{%url 'hk'%}" role="button">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <a href="{%url 'ktn' %}"><img src="{% static 'img/img/katanazero.jpg'%}" class="img-thumbnail w-75 m-auto" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Katana Zero</h5>
              <p class="card-text">$5.500CLP</p>
              <a class="btn btn-primary" href="{%url 'ktn'%}" role="button">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <a href="{%url 'Gow' %}"><img src="{%static 'img/img/gow.jpg'%}" class="img-thumbnail w-75 m-auto" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">God of War(2018)</h5>
              <p class="card-text">$30.000CLP</p>
              <a class="btn btn-primary" href="{%url 'Gow'%}" role="button">Comprar</a>

            </div>
          </div>
        </div>
        <div class="col">
            <div class="card ">
              <a href="{%url 'fh5' %}"><img src="{%static 'img/img/forza.jpg'%}" class="img-thumbnail w-75 m-auto" alt="..."></a>
              <div class="card-body">
                <h5 color="black" class="card-title" >Forza Horizon 5</h5>
                <p class="card-text">$40.000CLP</p>
                <a class="btn btn-primary" href="{%url 'fh5'%}" role="button">Comprar</a>

              </div>
            </div>
          </div>
          <!-- <div class="col">
            <div class="card ">
              <img src="imagenes/Elden ring.jpg" class="img-thumbnail w-75 m-auto " alt="...">
              <div class="card-body">
                <h5 class="card-title">Elden ring</h5>
                <p class="card-text">$40.000CLP</p>
                <a class="btn btn-primary" href="" role="button">Comprar</a>

              </div>
            </div>
          </div -->
      </div> </div>
</body>
</html>