<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %} 
    {% bootstrap_css%} 
    {% bootstrap_javascript%} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'home'%}"
            ><img src="{% static  'img/img/logo3.jpg' %}" alt="" width="120px" height="80px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'catalogo'%}">Catálogo</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Tu Perfil
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{%url 'inicio_sesion'%}">Iniciar Sesion</a></li>
                  <li><a class="dropdown-item" href="{%url 'creacion_user'%}">Crear Cuenta</a></li>
                  <li><a class="dropdown-item" href="{%url 'tokens'%}">Tokens</a></li>
                  <li><a class="dropdown-item" href="{%url 'seguridad'%}">Seguridad de Usuario</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'contacto'%}">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="container_login">
      <div class='row'>
        <div class='col-lg-6 text-center mx-auto fw-bolder p-5'>
          <h2>Crear Usuario<h2/>    
            <center>
              <form action="{% url 'creacion_user' %}" method="POST">
                {% csrf_token %}
                <img src="{% static 'img/img/Venom.jpg' %}" class='img-thumbnail w-25 h-25 rounded-circle mb-3'><br>
                <div>
                    <label for="username" class="form-label col-md-6">Nombre Usuario</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div>
                    <label for="nombre" class="form-label col-md-6">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control">
                </div>
                <div>
                    <label for="apellido" class="form-label col-md-6">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="form-control">
                </div>
                <div>
                    <label for="fecha" class="form-label col-md-6">Fecha de Nacimiento</label>
                    <input type="date" name="fecha" id="fecha" class="form-control">
                </div>
                <div>
                    <label for="telefono" class="form-label col-md-6">Telefono</label>
                    <input type="text" name="telefono" id="telefono" class="form-control">
                </div>
                <div>
                    <label for="correo" class="form-label col-md-6">Correo</label>
                    <input type="email" name="correo" id="correo" class="form-control">
                </div>
                <div>
                    <label for="password" class="form-label col-md-6">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div><br><br>
                <input type="submit" name="opcion" value="Agregar" class="btn btn-success">
                <a href=""><button type="button" class="btn btn-secondary">Volver</button></a>
            </form>
            <br><br>
            </center>
            {% if mensaje%}
            {{mensaje}}
            {% endif%}
        <div/>
      <div/>
    </div>
  </body>
</html>
