<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_css%} {% bootstrap_javascript%} {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home'%}"
          ><img src="{% static  'img/logo.png' %}" alt="" width="190px" height="80px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'catalogo'%}">Catálogo</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Tu Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'inicio_sesion'%}">Iniciar Sesion</a></li>
                <li><a class="dropdown-item" href="{%url 'creacion_user'%}">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="{%url 'tokens'%}">Tokens</a></li>
                <li><a class="dropdown-item" href="{%url 'seguridad'%}">Seguridad de Usuario</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contacto'%}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container3">
      <div class="row">
        <div class="col-3">
          <img src="{%static 'img/img/FORZA.jpg'%}" width="200" height="250" class="img-thumbnail w-50 m-auto" />
        </div>
        <div class="col-md-2">
          <h2>Forza Horizon 5</h2>
          <p>$40.000CLP</p>
          <p2 style="text-align: center"
            >Forza Horizon Conquista la escarpada Sierra Nueva en la experiencia definitiva del rally de Horizon..</p2
          >
          <br />
          <button class="bg-success border-2">Comprar</button>
        </div>
        <br />
        <div class="col-6">
          <center>
            <div id="CarruselRe4" class="carousel carousel-dark slide-1">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#CarruselRe4"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="{%static 'img/img/forzacarrusel1.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{%static 'img/img/forzacarrusel2.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                  <img src="{%static 'img/img/forzacarrusel3.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
              </div>
              <br />
            </div>
          </center>
        </div>
      </div>
    </div>

    <div class="DescripcionRe4 col-2 col-md-9">
      <h2>Forza Horizon 5</h2>
      <p>
        Explora los vibrantes paisajes del mundo abierto de México y disfruta de una diversión sin límites al volante de
        los mejores coches del mundo.
      </p>
      <button
        class="btn btn-primary mt-3"
        data-bs-toggle="collapse"
        data-bs-target="#more-info"
        aria-expanded="false"
        aria-controls="more-info">
        Ver más
      </button>
      <div class="collapse" id="more-info">
        <h3>Características del juego Forza Horizon 5</h3>
        <ul>
          <li>
            Este es un mundo abierto diverso Explora un mundo de llamativo contraste y belleza. Descubre desiertos
            vivos, exuberantes selvas, ciudades históricas, ruinas escondidas, playas inmaculadas, vastos cañones y un
            imponente volcán nevado.
          </li>
          <li>
            Lidera impresionantes expediciones a través de los paisajes dinámicos y en constante evolución del mundo
            abierto de México con una acción de conducción ilimitada y divertida en cientos de los mejores coches del
            mundo.
          </li>
          <li>
            Forma equipos con otros jugadores y participa en Horizon Arcade para disfrutar de una serie continuada de
            desafíos divertidos y exagerados que os mantendrán en la acción y os entretendrán sin menús, pantallas de
            carga ni salas de espera. Conoce nuevos amigos en Horizon Open y Tours, y comparte tus creaciones con nuevos
            intercambios de regalos entre miembros de la comunidad.
          </li>
        </ul>
        <p>
          ¡Tu aventura definitiva en Horizon te espera! Explora paisajes dinámicos y en constante evolución del mundo
          abierto de México con una acción de conducción ilimitada y divertida en cientos de los mejores coches del
          mundo.
        </p>
      </div>
    </div>
  </body>
</html>
