<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_css%} {% bootstrap_javascript%} {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home'%}"
          ><img src="{% static  'img/logo.png' %}" alt="" width="190px" height="80px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'catalogo'%}">Catálogo</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Tu Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'inicio_sesion'%}">Iniciar Sesion</a></li>
                <li><a class="dropdown-item" href="{%url 'creacion_user'%}">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="{%url 'tokens'%}">Tokens</a></li>
                <li><a class="dropdown-item" href="{%url 'seguridad'%}">Seguridad de Usuario</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contacto'%}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container3">
      <div class="row">
        <div class="col-3">
          <img src="{%static 'img/img//GOW.jpg'%}" width="200" height="250" class="img-fluid" />
        </div>
        <div class="col-md-2">
          <h2>God of War</h2>
          <p>$30.000CLP</p>
          <p2 style="text-align: center">En God of War Viaja a un mundo oscuro y elemental de criaturas temibles</p2>
          <br />
          <button class="bg-success border-2">Comprar</button>
        </div>
        <br />
        <div class="col-6">
          <center>
            <div id="CarruselRe4" class="carousel carousel-dark slide-1">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#CarruselRe4"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="{%static 'img/img/gowcaarrusel1.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{%static 'img/img/gowcarrusel2.jpg'%} " class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                  <img src="{%static 'img/img/gowcarrusel3.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
              </div>
              <br />
              <br />
            </div>
          </center>
        </div>
      </div>
    </div>

    <div class="DescripcionRe4 col-2 col-md-9">
      <h2>God of War</h2>
      <p>
        Kratos ha dejado atrás su venganza contra los dioses del Olimpo y vive ahora como un hombre en los dominios de
        los dioses y monstruos nórdicos
      </p>
      <p>En este mundo cruel e implacable debe luchar para sobrevivir… y enseñar a su hijo a hacerlo también.</p>
      <button
        class="btn btn-primary mt-3"
        data-bs-toggle="collapse"
        data-bs-target="#more-info"
        aria-expanded="false"
        aria-controls="more-info">
        Ver más
      </button>
      <div class="collapse" id="more-info">
        <h3>Características del juego God of War</h3>
        <ul>
          <li>
            Gráficos alucinantes mejorados en PC. Disfruta de una auténtica resolución 4K en dispositivos compatibles,
            [MU1] con frecuencias de fotogramas desbloqueadas para un rendimiento máximo. Modifica los ajustes con una
            gran variedad de opciones y configuraciones gráficas, como el sombreado de mayor resolución, reflejos de
            espacios en pantalla mejorados, la incorporación de GTAO y SSDO, y mucho más.
          </li>
          <li>
            Conjunción de calidad y rendimiento. Aprovecha la potencia de la IA del supermuestreo de aprendizaje
            profundo (DLSS) de NVIDIA para mejorar la frecuencia de fotogramas y generar imágenes nítidas llenas de
            belleza en una selección de GPU de NVIDIA. Usa la tecnología NVIDIA Reflex de baja latencia para reaccionar
            más rápidamente y asestar combos más fuertes con las mecánicas de respuesta que tanto ansías en las GPU de
            GeForce.
          </li>
          <li>
            Personalización de los controles Juega a tu manera. Gracias a la compatibilidad con los mandos inalámbricos
            DUALSHOCK®4 y DUALSENSE®, una gran variedad de mandos diferentes y la plena capacidad de personalizar las
            asignaciones para teclado y ratón, podrás modificar cada acción según tu estilo de juego.
          </li>
        </ul>
        <p>
          En esta nueva entrega Kratos es acompañado por su hijo Atreus, a quien deberá enseñar a sobrevivir en los 9
          mundos de la cosmología nórdica antigua y será su acompañante y enfoque principal durante toda la aventura.
        </p>
      </div>
    </div>
  </body>
</html>
