<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_css%} {% bootstrap_javascript%} {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home'%}"
          ><img src="{% static  'img/img/logo3.jpg' %}" alt="" width="120px" height="80px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'catalogo'%}">Catálogo</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Tu Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'inicio_sesion'%}">Iniciar Sesion</a></li>
                <li><a class="dropdown-item" href="{%url 'creacion_user'%}">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="{%url 'tokens'%}">Tokens</a></li>
                <li><a class="dropdown-item" href="{%url 'seguridad'%}">Seguridad de Usuario</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contacto'%}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container3">
      <div class="row">
        <div class="col-3">
          <img src="{%static 'img/img/Re4.jpg'%}" width="200" height="250" class="img-thumbnail w-50 m-auto" />
        </div>
        <div class="col-md-2">
          <h2>Resident Evil 4</h2>
          <p>37.000clp</p>
          <p2 style="text-align: center"> Resident Evil 4 conserva la esencia del juego original.</p2>
          <br />
          <button class="bg-success border-2">Comprar</button>
        </div>
        <br />
        <div class="col-6">
          <center>
            <div id="CarruselRe4" class="carousel carousel-dark slide-1">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#CarruselRe4"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarruselRe4" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="{% static 'img/img/img1.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{% static 'img/img/img 2.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                  <img src="{%static 'img/img/img3.jpg'%}" class="d-block w-100 imagenesre4" alt="..." />
                  <div class="carousel-caption d-none d-md-block"></div>
                </div>
              </div>
              <br />
            </div>
          </center>
        </div>
      </div>
    </div>

    <div class="DescripcionRe4">
      <h2>Resident Evil 4</h2>
      <p>
        Disfruta del remake del juego de survival horror que cambió por completo el género. Resident Evil 4, adaptado a
        las consolas y PC modernos con gráficos y mecánicas de juego renovados, te lleva de vuelta a un remoto pueblo
        europeo infectado por el parásito que controla la mente: Las Plagas. Tras los remakes de RE2 y RE3, Capcom nos
        ofrece otro remake de un juego clásico. Si nunca has jugado al RE4 original, el Resident Evil 4 Código de Steam
        es una forma perfecta de experimentar uno de los mejores juegos, si no el mejor, de la serie Resident Evil.
      </p>
      <button
        class="btn btn-primary mt-3"
        data-bs-toggle="collapse"
        data-bs-target="#more-info"
        aria-expanded="false"
        aria-controls="more-info">
        Ver más
      </button>
      <div class="collapse" id="more-info">
        <h3>Características del juego Resident Evil 4</h3>
        <ul>
          <li>
            Nueva capa de pintura. El remake de Resident Evil 4 tiene un aspecto fenomenal con gráficos, iluminación y
            sombras renovados;
          </li>
          <li>
            Nuevo pero familiar. Leon todavía puede dar patadas en la cara a los enemigos, pero ahora puede parar los
            ataques enemigos con un cuchillo y tiene algunos trucos más en la manga;
          </li>
          <li>
            La esencia de RE4. Con gráficos y jugabilidad modernizados, el remake de RE4 conserva la esencia del
            original;
          </li>
          <li>Nuevas secuencias. El remake de RE4 cuenta con una historia y secuencias de juego nuevas y ampliadas;</li>
          <li>Resident Evil 4 al mejor precio.</li>
        </ul>
        <p>
          Una clase magistral de survival-horror. Cuando se lanzó por primera vez en 2005, Resident Evil 4 redefinió por
          completo el género del survival-horror. Ahora puedes disfrutar de uno de los mejores juegos de la serie. Seis
          años después del brote en Racoon City, Leon Kennedy recibe el encargo de encontrar a la hija del Presidente de
          los Estados Unidos. La búsqueda lleva a Leon a un pequeño pueblo rural europeo donde una nueva amenaza se ha
          apoderado de la población local y la ha infectado. Compra Resident Evil 4 Código de Steam, y enfréntate a los
          terroríficos enemigos en tu misión de encontrar a quien secuestró a la hija del Presidente.
        </p>
      </div>
    </div>
  </body>
</html>
