<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tokens</title>
    {% load bootstrap5 %} 
    {% bootstrap_css%} 
    {% bootstrap_javascript%} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home'%}"
          ><img src="{% static  'img/img/logo3.jpg' %}" alt="" width="120px" height="80px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'catalogo'%}">Catálogo</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Tu Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'inicio_sesion'%}">Iniciar Sesion</a></li>
                <li><a class="dropdown-item" href="{%url 'creacion_user'%}">Crear Cuenta</a></li>
                <li><a class="dropdown-item" href="{%url 'tokens'%}">Tokens</a></li>
                <li><a class="dropdown-item" href="{%url 'seguridad'%}">Seguridad de Usuario</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contacto'%}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
     <center>
      <div class="containerTokens">
        <div class="row">
          <div class="col-12">
            <img src="{%static 'img/img/token.gif'%}" width="300" height="350" class="img-thumbnail m-auto" />
          </div>
        </div>
      </div>

      <div class="Tokeninfo">
        <h3>Lo sentimos :C</h3>
        <p>
          El servicio de tokens aun no esta disponible estamos trabajando para poder implementarlo
        </p>
      </div>
     </center> 
  </body>
</html>
